{% extends 'base.html' %}
{% load static %}

{% block more_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user-booking.css' %}">
    
{% endblock more_styles %}


{% block content %}

        <h1>My Bookings</h1>
        <div class="bookings">
            <div class="booking-card">
                <h2>Booking #123456</h2>
                <p>Flight Number: ABC123</p>
                <p>Date: 2023-06-18</p>
                <p>Time: 09:00 AM</p>
                <p>Destination: New York</p>
                <p>Seat Number: A23</p>
            </div>
            <div class="booking-card">
                <h2>Booking #789012</h2>
                <p>Flight Number: XYZ789</p>
                <p>Date: 2023-06-19</p>
                <p>Time: 02:15 PM</p>
                <p>Destination: Paris</p>
                <p>Seat Number: B10</p>
            </div>
        </div>

        {% endblock content %}